<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Address Tracker</title>
    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="/Css/styles.css">
</head>

<body>
    <section id="header">
        <h1 class="main-heading">IP Address Tracker</h1>
        <div class="search-container">
            <form action="/search" method="GET" class="search-form">
                <input type="text" class="search" placeholder="Search for any IP address or domain" name="query"
                    required>
                <button type="submit" class="submit-btn"><i class="fas fa-chevron-right"></i></button>
            </form>
        </div>
        <button class="show-info">Show info</button>
    </section>
    <section id="info">

    </section>
    <section id="float">
        <div class="info-container">
            <div>
                <h2>ip address</h2>
                <p><%= ip %> </p>
            </div>
            <div>
                <h2>location</h2>
                <p><%= location.city%>, <%= location.region %></p>
            </div>
            <div>
                <h2>timezone</h2>
                <p><%= location.timezone %> </p>
            </div>
            <div>
                <h2>isp</h2>
                <p><%= isp %> </p>
            </div>
            <i class="close fas fa-times" title="close details"></i>
        </div>

        <h4 style="display: none;" class="lat"><%= location.lat %> </h4>
        <h4 style="display: none;" class="long"><%= location.lng %> </h4>

    </section>
    
    






    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="/index.js"></script>
</body>

</html>